body{
    background-color: #010101;
}

.grid-container {
    display: grid;
    /*
    allowed values: 
    */
    grid-template-columns: auto 500px 200px 100px;
    grid-template-rows: 250px auto auto auto auto;
    padding: 10px;
    margin-top: 5%;
    margin-right: 25%;
    background-color: #010101;

}
.grid-item{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    font-family: "Josefin Sans";
    background-color:  #010101;
}

#gridbutton{
    grid-column: 2 / span 2;
}

#gridtext{
    grid-column: 2 / span 1;
    color: #733837;
    font-style: italic;
    font-size: 25px;
    
}

#gridauthor{
    grid-column: 3;
    font-weight: bold;
    color: #733837;
    font-size: 20px;
}
#gridtweet{
    grid-column: 4;
    grid-row: 3;
}

#gridme{
    grid-column: 4;
    grid-row: 4;
    
}
#gridpicture{
    grid-row: 3 / span 3;
    grid-column: 2 / span 1;
}
#tw-pic{
    width: 50px;
}
#wis-pic{
    width: 700px;
}
.newbutton{
    font-family: "Josefin Sans";
    background-color:#F7F586;
    font-size: 20px;
    border-radius: 12px;
    border: 2px solid #733837;
    height: 40px;

}
#author{
    padding-top: 100px;
}